### Working with strings

In [26]:
str = "this is a sentence"
str.split()

['this', 'is', 'a', 'sentence']

In [27]:
str.split(" ", 2)

['this', 'is', 'a sentence']

In [28]:
str.split(" ", 1)

['this', 'is a sentence']

In [29]:
a = [1, 5, 2, 7, 8, 0]
print(a)
a.sort()
print(a)

[1, 5, 2, 7, 8, 0]
[0, 1, 2, 5, 7, 8]

In [30]:
b = ["a", "b", "c"]
"-".join(b)

'a-b-c'

In [31]:
"".join(b)

'abc'

In [32]:
string5 = "Let's replace the spaces in this sentence with other characters."
string5_replace = string5.replace(" ", "!@!")
print("Output with !@!: {0:s}".format(string5_replace))

Output with !@!: Let's!@!replace!@!the!@!spaces!@!in!@!this!@!sentence!@!with!@!other!@!characters.

In [33]:
string5_replace = string5.replace(" ", ",")
print("Output with commas: {0:s}".format(string5_replace))

Output with commas: Let's,replace,the,spaces,in,this,sentence,with,other,characters.

#### Upper and Lower Case

In [34]:
word = 'Cat'
print(word.lower())
print(word.upper())

cat
CAT

In [35]:
words = "This is a short sentence"
words_list = words.split()
for word in words_list:
    print("0:s".format(word.capitalize()))

0:s
0:s
0:s
0:s
0:s

### Regular Expressions in Python

In [36]:
from math import exp, log, sqrt
import re
string = "The quick brown fox jumps over the lazy dog."
string_list = string.split()
pattern = re.compile(r"The", re.I)
count = 0
for word in string_list:
    if pattern.search(word):
        count += 1
print("The answer is {0:d}".format(count))

The answer is 2

In [37]:
pattern = re.compile(r"(?P<match_word>The)", re.I)

for word in string_list:
    if pattern.search(word):
        print("{:s}".format(pattern.search(word).group('match_word')))

The
the

In [38]:
string_to_find = r"The"
pattern = re.compile(string_to_find, re.I)
print("Replaced 'The' with 'a': {0:s}".format(pattern.sub("a", string)))

Replaced 'The' with 'a': a quick brown fox jumps over a lazy dog.

In [39]:
output = pattern.search(string)
output.span()

(0, 3)

In [40]:
output.group()

'The'

### Working with dates in Python

In [41]:
from datetime import date, time, datetime, timedelta

In [42]:
date.today()

datetime.date(2020, 3, 6)

In [43]:
datetime.now()

datetime.datetime(2020, 3, 6, 18, 29, 8, 862998)

In [44]:
print("Today's date {0!s}".format(date.today()))

Today's date 2020-03-06

In [45]:
today = date.today()
print("The year is {0!s}".format(today.year))

The year is 2020

In [46]:
print("The month is {!s}".format(today.month))

The month is 3

In [47]:
one_day = timedelta(days = -1)
next_day = timedelta(days = 1)
yesterday = today + one_day
tomorrow = today + next_day
print("yesterday: {0!s}".format(yesterday))
print("tomorrow: {0!s}".format(tomorrow))

yesterday: 2020-03-05
tomorrow: 2020-03-07

In [48]:
now = datetime.now()
print("{0!s}".format(now))
next_minute = timedelta(minutes = 1)
now_plus = now + next_minute
print("{0!s}".format(now_plus))

2020-03-06 18:29:09.937071
2020-03-06 18:30:09.937071

In [49]:
now_plus - now

datetime.timedelta(seconds=60)

In [50]:
now.month

3

In [51]:
now.second

9

In [52]:
now.minute

29

In [53]:
now.hour

18

### Working with Lists

In [54]:
a_list = [1, 2, 3]
print("A list {}".format(a_list))

A list [1, 2, 3]

In [55]:
print("The length of the list {0:d}".format(len(a_list)))

The length of the list 3

In [56]:
a_new_list = a_list[:]

In [57]:
a_list[0] = 5
print("{}".format(a_list))
print("{}".format(a_new_list))

[5, 2, 3]
[1, 2, 3]

In [58]:
a_list[0:2]

[5, 2]

In [59]:
a_list[-1]

3

In [60]:
a_list[:-1]

[5, 2]

In [61]:
a_list.reverse()
a_list

[3, 2, 5]

In [62]:
a_list.append(7)

In [63]:
a_list

[3, 2, 5, 7]

### `for` comprehensions

In [11]:
my_data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
rows_to_keep = [row for row in my_data if row[2] > 5]
print("the output is this: {}".format(rows_to_keep))

the output is this: [[4, 5, 6], [7, 8, 9]]

In [10]:
my_data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
my_set = {x for x in my_data}
print("The output is: {}".format(my_set))

The output is: {(4, 5, 6), (7, 8, 9), (1, 2, 3)}

In [16]:
x = (1, 2)
print("{}".format(x[0]))
print("{}".format(x[1]))

1
2