In [1]:
d = {'key1':'value1', 'key2':'value2'}

In [2]:
d['key1']

'value1'

In [3]:
d['new_key'] = "new item"

In [4]:
d

{'key1': 'value1', 'key2': 'value2', 'new_key': 'new item'}

Dictionaries are unordered. You can't slice or index.

In [5]:
d['a'] = 42

In [6]:
d

{'key1': 'value1', 'key2': 'value2', 'new_key': 'new item', 'a': 42}

Dictionaries can hold items of different types, including lists and other dictionaries.

In [7]:
code_names = {"obama":"renegade", "bush":"trailblazer", "reagan":"rawhide",
             "ford":"passkey"}

In [8]:
code_names['ford']

'passkey'

In [10]:
code_names.keys()

dict_keys(['obama', 'bush', 'reagan', 'ford'])

In [11]:
code_names.values()

dict_values(['renegade', 'trailblazer', 'rawhide', 'passkey'])

## Tuples

In [12]:
mytuple = (1, 2, 3)

In [13]:
type(mytuple)

tuple

In [14]:
t = ('a', 1, 2, 3, 4)

In [15]:
t[0]

'a'

In [16]:
mylist = [1, 2, 3]

In [17]:
mylist[0] = 'New'

In [18]:
mylist

['New', 2, 3]

Tuples are immutable

In [20]:
mytuple[0] = 'New'

TypeError: 'tuple' object does not support item assignment

I get an error if I attempt to change a value.

In [26]:
t = ('a', 'b', 'c', 'a')

In [27]:
t.index('b')

1

In [28]:
t.count('a')

2

## Sets

In [29]:
x = set()

In [30]:
x.add(1)

In [31]:
x

{1}

An unordered collection of unique elements

In [33]:
x.add(1)

In [34]:
x

{1}

In [35]:
x.add(2)

In [36]:
x

{1, 2}

In [37]:
mylist = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]

In [38]:
set(mylist)

{1, 2, 3, 4}

In [39]:
myset = {1, 2, 3}

In [40]:
type(myset)

set